glu-9.0.0/*
*.tar.gz
*.o
*.zip
Practica 1/Práctica_1/practica1_B
Practica 1/Práctica_0/practica_0
Practica 3/practica_objetos_B3
Practica 4/practica_objetos_B4
Practica 5/practica_objetos_B5
Practica 5/color/seleccion_color
