/* Fuente */
.Merriweather {
	font-family: 'Merriweather', serif;
}

/* Bordes */
.p-3 {
  padding: $spacer !important;
}

/* Fondo */
body {
	background: #3b5f83; /* Old browsers */
	background: -moz-linear-gradient(top, #3b5f83 0%, #385674 44%, #344c64 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3b5f83 0%,#385674 44%,#344c64 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3b5f83 0%,#385674 44%,#344c64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5f83', endColorstr='#344c64',GradientType=0 ); /* IE6-9 */
}

a, a:hover, a:visited, a:active, a:focus{
	color:white;
}
